
.dashboard-container {
  display: flex;
  height: 100vh;
}

.dashboard-content {
  padding: 20px;
 
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 20%; /* Set the width of the dashboard */
}

.widgets,
.stats {
  margin-bottom: 20px;
}

.widgets h2,
.stats h2 {
  margin-bottom: 10px;
}

.widgets ul {
  list-style-type: none;
  padding: 0;
}

.widgets li {
  margin-bottom: 5px;
}
.dashboard-link {
  text-decoration: none;                                      
  color: rgb(247, 247, 252);
  margin-bottom: 10px;
  border-radius: 5px;
}

.dashboard-button {
  padding: 5px;
  border: none;
  background-color: #0D6EFD;;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}